#sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 10vh;
    background-color: #f7f7f7;
}

.video {
    margin-left: 10px;
}
.card-img-left {
    width: 100%;
    border-radius: 5px;
}
.small-video-info {
}
.small-video-card:hover{
    padding: 5px;
    min-width: 0;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.small-video-card {
    padding: 5px;
    min-width: 0;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
}
.note-field {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 10px;
}